* {
	box-sizing: border-box;
}

/*  Start display */
.start-display {
    background-image: url(https://images.unsplash.com/photo-1524850301259-7729d41d11d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4481595ef9ad4ff2cc3df359f71da451&auto=format&fit=crop&w=2826&q=80);
    height: 100vh;
    margin-top: 0;
    padding-top: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

.logo-display {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: white;
	width: 86%;
	border-radius: 23px;
	padding: 55px;
	max-width: 900px;
	background-color: rgba(255, 255, 255, 0.8);
}
h1.logo {
	font-size: 40px;
	margin-top: -2px;
}
.logo-description {
	margin-top: -29px;
	font-size: 18px;
}
.search-form {
	font-size: 24px;
}
input[type="text"] {
	width: 50%;
}
.js-form-submit {
	cursor: pointer;
}

/* Weather-display */
.weather-display {
	background-image: url(https://images.unsplash.com/photo-1444526110212-06a94d9a473c?ixlib=rb-0.3.5…EyMDd9&s=e917c61…&auto=format&fit=crop&w=2000&q=80);
    height: 100vh;
    margin-top: 0;
    padding-top: 11%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 24px;
    margin-bottom: 100px;
}

.weather-results {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 83%;
    border-radius: 23px;
    max-width: 800px;
    padding: 30px;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.8);
}

.h2-weather {
	font-size: 32px;
}

.weather-span {
	font-size: bold;
}

.weather-p {
	font-size: 18px;
}

.p-temp {
	font-size: 26px;
    font-weight: 550;
}

.weather-icon {
	width: 66px;
    height: 66px;
     display: inline-block;
    margin-left: 18px;
}

.weatherDescription {
	font-size: 20px;
    font-style: italic;
}

/* Category nav buttons*/
.venues-nav{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    font-size: 22px;
}

.js-category-button:hover, .js-category-button:focus {
	background-color: rgba(218, 218, 218, 0.45);
	border-radius: 50%;
}

.js-category-button {
	width: 16%;
    border: 1px solid black;
    margin-right: 12px;
    padding: 2px;
    cursor: pointer;
    transition-property: background-color, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

/* Foursquare results */
.venues-page{
	margin-top: 30px;
	text-align: center;
}

.image-result {
	width: 80%;
	-webkit-box-shadow: 10px 10px 24px 2px rgba(199,199,199,1);
	-moz-box-shadow: 10px 10px 24px 2px rgba(199,199,199,1);
	box-shadow: 10px 10px 24px 2px rgba(199,199,199,1);
}

.result-description {
	text-align: center;
    background-color: #d3d3d37a;
    height: 666px;
    margin-bottom: 29px;
    -webkit-box-shadow: 10px 10px 24px 2px rgba(199,199,199,1);
	-moz-box-shadow: 10px 10px 24px 2px rgba(199,199,199,1);
	box-shadow: 10px 10px 24px 2px rgba(199,199,199,1);
}

.icon-text {
	font-style: italic;
}

.js-prev-button, .js-next-button {
	width: 20%;
    border: 1px solid black;
    margin-right: 12px;
    padding: 2px;
    margin-top: 21px;
    margin-bottom: 20px;
    cursor: pointer;
}

.js-prev-button:hover, .js-next-button:hover, .js-prev-button:focus, .js-next-button:focus {
		background-color: rgba(218, 218, 218, 0.45);

}

@media only screen and (max-width: 640px) {
	.js-category-button {
		width: 40%;
		margin-bottom: 5px;
	}
	.start-display {
		padding-top: 24%;
	}
}

@media only screen and (max-width: 440px){
	h1.logo {
    font-size: 31px;
    margin-top: -2px;
}

.logo-description {
    margin-top: -22px;
    font-size: 12px;
}
search-form {
    font-size: 15px;
}
.image-result {
	width: 55%;
}
}

/* For small mobile screens */
@media only screen and (max-width: 375px) {
	.start-display {
    	padding-top: 47%;
	}
	.logo-display {
    	padding: 31px 12px 31px 12px;
	}
	start-display {
    	padding-top: 50%;
	}
	h1.logo {
    	font-size: 24px;
    	margin-top: -3px;
	}
	.logo-description {
    	margin-top: -12px;
    	font-size: 12px;
	}
	.search-label {
		font-size: 14px;
		display: block;
		margin-bottom: 8px;
	}
	.search-form {
    	font-size: 14px;
	}
	.weather-display {
		padding-top: 20%;
	}
	.weather-results {
		padding: 2px;
	}
	.h2-weather {
		font-size: 22px;
	}
	.weather-icon {
		margin-left: 3px;
		margin-bottom: -26px;
	}
	.p-temp {
		font-size: 21px;
		margin-top: -20px;
	}
	.venues-nav {
		font-size: 17px;
		margin-top: 40px;
	}
	.js-category-button {
		background-color: #f5f1f1;
	}
	.result-description {
		height: 512px;
	}
}
/* Footer */
 footer {
	text-align: center;
    margin-bottom: 24px;
}

.fa-search {
    height: 17px;
}

.fa-angle-double-up {
  font-size: 23px !important;
  color: gray;
  position: relative;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
  0% { opacity: 0.7; }
  50% { opacity: 0.1; }
  100% { opacity: 0.7; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 0.7; }
  50% { opacity: 0.1; }
  100% { opacity: 0.7; }
}

@keyframes blinker {  
  0% { opacity: 0.7; }
  50% { opacity: 0.1; }
  100% { opacity: 0.7; }
}
.fa-search {
	color: black;
	margin-left: 3px;
}

/* Grid */
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */

  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;

  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}